section {
  width: 100%;
  height: 582px;
  min-height: 582px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 5%;

    p {
      font-size: var(--fs-800);
      font-weight: 600;
    }

    .sign-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      height: 9%;
      margin-top: 5%;

      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--primary);
        border-radius: 0.3rem;
        width: 47%;
        height: 100%;

        svg {
          width: 15%;
          height: 30%;

          g {
            fill: var(--background);
          }
        }

        p {
          color: var(--background);
          font-size: var(--fs-300);
          font-weight: 600;
          margin-left: 2%;
        }

        &:nth-of-type(2) {
          background: var(--background);
          cursor: pointer;

          svg {
            g {
              fill: var(--primary);
            }
          }

          p {
            color: var(--primary);
          }
        }
      }
    }

    .form-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 55%;
      height: 50%;
      margin-top: 5%;

      svg {
        position: absolute;
        top: 0%;
        left: 3.5%;
        width: 5%;
        height: 20%;

        g {
          fill: #8f8f8f;
          transition: fill 150ms ease-in-out;
        }

        &:nth-of-type(2) {
          top: 27.5%;
        }

        &:nth-of-type(3) {
          top: 80%;
          left: 40%;

          g {
            fill: var(--background);
          }
        }
      }

      input {
        background: var(--surface);
        border-radius: .3rem;
        width: 100%;
        height: 20%;
        padding: 0 12%;

        &::placeholder {
          color: #8f8f8f;
        }
      }

      .togglePass {
        position: absolute;
        top: 27.5%;
        left: 91%;
        width: 6%;
        height: 20%;
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;

          g {
            fill: #8f8f8f;
            transition: fill 150ms ease-in-out;
          }
        }
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10%;
        margin-bottom: 5%;

        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          font-size: var(--fs-200);
          min-width: 45%;
          height: 100%;

          input {
            accent-color: var(--primary);
            width: 10%;
            height: 65%;
            margin-right: 5%;
            cursor: pointer;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: var(--primary);
          font-size: var(--fs-200);
          text-decoration: none;
          width: auto;
          height: 100%;
        }
      }

      button {
        background: var(--primary);
        color: var(--background);
        border-radius: .3rem;
        font-size: var(--fs-400);
        font-weight: 600;
        width: 100%;
        height: 20%;
        padding-left: 5%;
        cursor: pointer;
      }
    }

    .signUp {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      background: var(--surface-transparent);
      border-radius: .3rem;
      padding: 0 3%;
      width: 55%;
      height: 10%;
      margin-top: 7%;

      p {
        font-size: var(--fs-200);
        font-weight: 400;
        width: 100%;

        a {
          color: var(--primary);
          font-size: var(--fs-200);
          font-weight: 400;
          text-decoration: none;
          margin-left: 2%;
        }
      }
    }
  }
}

.focused {
  fill: var(--base) !important;
}

.ng-invalid.ng-touched {
  border: 1px solid var(--error);
  color: var(--error);
}

form.ng-invalid.ng-touched {
  border: none;
  color: none;
}
