:root {
  /* font */
  --montserrat: 'Montserrat', sans-serif;

  /* colors */
  --background: hsl(0, 0%, 7%); // light: hsl(0, 0, 100%)
  --background-600: hsl(0, 0%, 5%);
  --surface: hsl(0, 0%, 12%); // light: hsl(0, 0, 100%) with box shadow
  --surface-transparent: hsla(0, 0%, 12%, .5);
  --primary: hsl(221, 95%, 76%); // light: hsl(221, 100%, 47%)
  --primary-variant: hsl(221, 70%, 55%);
  --base: hsl(0, 0%, 97%); // light: hsl(0, 0%, 7%)
  --error: hsl(349, 52%, 61%); // light: hsl(349, 100%, 35%)
  --warning: hsl(50, 52%, 61%); // light: hsl(50, 100%, 35%)
  --success: hsl(101, 52%, 61%); // light: hsl(101, 100%, 35%)

  /* font size */
  --fs-900: 1.75rem;
  --fs-800: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: .875rem;
  --fs-200: .75rem;
  --fs-100: .625rem;
}

*,
*:after,
*:before {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--base);
  font-family: var(--montserrat);
  font-size: var(--fs-400);
  font-weight: 400;
  outline: none;
  border: none;
  user-select: none;
}

html,
body {
  background-color: var(--background);
  width: 782px;
  max-width: 800px;
  height: auto;
  min-height: 582px;
}
