section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 582px;
  min-height: 582px;

  .message-card {
    position: absolute;
    top: 5%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-600);
    border-radius: 0.3rem;
    width: 40%;
    height: auto;
    min-height: 10%;
    padding: 2%;
    overflow: hidden;

    .message {
      color: var(--error);
      font-size: var(--fs-200);
      font-weight: 500;
      line-height: 1.125rem;
      width: 100%;
      height: auto;
      transition: color 150ms ease-in-out;

      span {
        font-size: var(--fs-200);
        font-weight: 600;
        margin-right: 2%;
      }
    }

    .time-bar {
      position: absolute;
      top: 94%;
      background: var(--error);
      width: 100%;
      height: 10%;
      transition: background 150ms ease-in-out;
    }
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--surface);
    border-radius: 0.5rem;
    width: 70%;
    height: 60%;
    padding: 5%;

    p {
      font-size: var(--fs-300);
      font-weight: 500;
      line-height: 1.25rem;

      &:nth-of-type(2) {
        font-size: var(--fs-800);
        font-weight: 600;
      }

      &:nth-of-type(3) {
        font-size: var(--fs-400);
        font-weight: 300;
      }

      &:nth-of-type(4) {
        font-size: var(--fs-300);
        font-weight: 400;
      }

      span {
        color: var(--primary);
        font-size: var(--fs-300);
        font-weight: 400;
        cursor: pointer;
      }
    }

    svg {
      position: absolute;
      top: 50.5%;
      left: 10%;
      width: 4.5%;
      height: 15%;

      g {
        fill: #8f8f8f;
        transition: fill 150ms ease-in-out;
      }
    }

    input {
      background: var(--background-600);
      border-radius: .3rem;
      border: 1px solid transparent;
      width: 100%;
      height: 20%;
      padding: 0 12%;
      transition: color 200ms ease-in-out, border-color 250ms ease-in-out;

      &::placeholder {
        color: #8f8f8f;
        transition: color 200ms ease-in-out;
      }
    }

    button {
      background: var(--primary-variant);
      color: hsl(0, 0%, 97%);
      border-radius: 0.3rem;
      font-size: var(--fs-500);
      font-weight: 500;
      width: 100%;
      height: 20%;
      cursor: pointer;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-variant);
      color: hsl(0, 0%, 97%);
      border-radius: 0.3rem;
      font-size: var(--fs-400);
      font-weight: 500;
      text-decoration: none;
      width: 100%;
      height: 25%;
      cursor: pointer;
    }
  }

}

.hide {
  display: none !important;
}

.focused {
  fill: var(--base) !important;
}

.ng-invalid.ng-touched {
  color: var(--error) !important;
  border: 1px solid var(--error) !important;

  &::placeholder {
    color: var(--error) !important;
  }
}

form.ng-invalid.ng-touched {
  color: transparent !important;
  border: none !important;
}

.validMessage {
  color: var(--success) !important;
}

.valid {
  background: var(--success) !important;
}

.warningMessage {
  color: var(--warning) !important;
}

.warning {
  background: var(--warning) !important;
}

.slideDown {
  animation: slideDown .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideUp {
  animation: slideUp .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}

.slideToLeft {
  animation: slideToLeft 2s linear both;
}

@keyframes slideToLeft {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
